<launch>
	<include file="/home/robproj/grp10_ws/src/grp10_package/panda_moveit_config/launch/planning_context.launch">
		<arg name="load_robot_description" value="true"/>
	</include>

	<node name="panda_controller"
		pkg="grp10_package"
		type="panda_controller"
		respawn="false" output="screen">

		<rosparam command="load"
			file="/home/robproj/grp10_ws/src/grp10_package/panda_moveit_config/config/kinematics.yaml"/>
	</node>
</launch>
